.project_img_v2-01{
    width: 200px;
    height: 200px;
}

.project_img_v2-02{
    width: 200px;
    height: 200px;
}

.project_img_v2-03{
    width: 200px;
    height: 200px;
}

.project_img_v2-04{
    width: 200px;
    height: 200px;
}

.project_img_v2-05{
    width: 200px;
    height: 200px;
}

.project_img_v2-06{
    width: 200px;
    height: 200px;
}

.project-img-modal{
    width: 200px;
    height: 200px;
}

/* .project-detail-modal{

} */