.list-of-skills-v2{
    margin-top: 30px;
}

.list-of-skills-v2 > li{
    margin-bottom: 20px;
}

.skill-list-v2{
    color: rgb(7, 7, 7);
    font-size: 20px;
}

.skill-img-v2{
    width: 40px;
    height: 40px;
}
